{%  extends "home/main_dashboard.html" %}

{% block dashboard %}

<div class="studnt_dash_info">    
    <table class="table">
        <tr>
            <th>University Roll No.</th>
            <td>{{ data.roll_no }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{% if data.gender == 1 %} {{ 'Male' }} {% else %} {{ 'Female' }}{% endif %}</td>
        </tr>
        <tr>
            <th>Mother's Name</th>
            <td>{{ data.mother_name }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ data.phone }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ data.email }}</td>
        </tr>
    </table>
</div>

{% endblock %}