{%  extends "home/header.html" %}

{% block dashboard %}
<!-- {% load custom_tags %} -->

{% if 'student' in request.session %}
<div class="row">
	{% for i  in student_subject %}
		<div class="shadow p-3 mb-5 bg-white rounded" style="width: 18rem; margin: 2rem;">
			<div class="card" >
				<div style="padding:1rem;" class="bg-dark text-white">

				<h5 class="card-title">{{data.name}}</h5>
				<h6 class="card-subtitle mb-2 ">{{i.subject_name}}
				</h6>
				<h6 class="card-subtitle mb-2 "> {{i.subject_code}}</h6>
				</div>
				<div class="card-body">

					<p class="card-text"><strong>{{i.professer_name}}</strong></p>
					<p class="sidebr_elemnt"><a href="{% url 'attendance:view_my_attendance_sem' data.roll_no  data.sem i.subject_code %}">View Attendance</a></p>

				</div>
					
			</div>
			</div>
	{% endfor %}
</div>

{% endif %}

{% endblock %}