{%  extends "home/header.html" %}

{% block dashboard %}

<div class="container" style="padding: 1rem;">
<!-- {% with i=1 %} -->
<form method="post" action="{% url 'attendance:todays_add_attendance' proff semester programe sub date %}">
{% csrf_token %}
<table class="table table-hover bg-light bg-light text-dark">
		<thead> 
			<tr>
				<th>S No.</th>
				<th>Name</th>
				<th>RollNo.</th>
				<th>Attendance</th>	
			</tr>
		</thead>
		<tbody>		
			{% for stu in students %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ stu.name }}</td>
				<td>{{ stu.roll_no }}</td>
<!-- 
				<td><label class="add_student_attendance"><input type="checkbox" name="present[]" value="{{ stu.roll_no }}" >&nbsp; </td> -->
				<td>
					<div class="input-group-prepend">
					 <select class="custom-select" id="inputGroupSelect01" name="present[]">
					  <option value="{{ stu.roll_no }}">Present</option>
					  <option value="">Absent</option>
					</select>
				</div>
				</td>
				<!-- <td><label><input type="radio" name="attendance{{ students.id }}" value="0" required="">&nbsp; Absent</label></td> -->
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type="hidden" name="section" value="{{ sectn_data.pk }}" >
	<input type="hidden" name="total_studnt" value="{{ sectn_data.students_set.all.count }}" >
	<input type="submit" value="Add Attendance" class="btn btn-primary" name="attendance">
</form>
<!-- {% endwith %} -->
</div>
{% endblock %}