{%  extends "home/header.html" %}

{% block dashboard %}

<!-- <p class="add_stdnt"><a href="javascript:void(0)" class="add_new_student btn btn-default">Add Student</a></p> -->

<!-- {% with i=1 %} -->
<div class="container shadow p-3 mb-5 bg-white rounded"  style="margin-top:13%;width: 45rem;height: 20rem;">
<div class="card text-center" style="width: 100%;height: 100%">
				<div style="padding:1rem;" class="bg-dark text-white">
				<h5 class="card-title">Semester {{sem}}</h5>
				<h6 class="card-subtitle mb-2 ">{{sub}}</h6>

				</div>
				<!-- <hr/> -->
			<div class="card-body" >
				<h3 class="font-weight-bold" >Present    {{present}}</h3>
				<h3 class="font-weight-bold">Absent     {{absent}}</h3>

				
			</div>
</div>

<!-- {% endwith %} -->
{% endblock %}